.upperTriangle {
    width: 0;
    height: 0;
    border-bottom:80px;
    border-left: 80px solid transparent;
    border-right:80px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.middleTrapezium {
    width: 0;
    height: 0;
}
.bottomEquiTriangle {
    width:0;
    height: 0;
    border-bottom: 120px solid purple;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}