.upperTriangle {
    color:blue;
    width: 0;
    height: 0;
}
.middleTrapezium {
    color:orange;
    width: 0;
    height: 0;
}
.bottomEquiTriangle {
    color:purple;
    width:0;
    height: 0;
    border-bottom: 120px solid purple;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}