.upperTriangle {
    color:blue;
    width: 0;
    height: 0;
}
.middleTrapezium {
    color:orange;
    width: 0;
    height: 0;
}
.bottomEquiTriangle {
    color:purple;
    width:0;
    height: 0;
}